@media screen and (min-width: 1024px){
#grade {
    display: grid;
    background-image: linear-gradient(#0b82a3, #0b6f8d);
    grid-template-columns:  1fr 1fr ;
    grid-template-rows: 100px 40px 500px 1000px 300px ;
    grid-template-areas:
    "header header"
    "menu menu"
    "main-1 main-2"
    "main-3 main-4"
    "footer footer";
 }


  .header{ 
    grid-area: header;
    background-color: #0b82a3;
    border-radius: 20px;


  } 

  .menu{ 
    grid-area: menu;
   background-color: #0b6f8d;
   border-radius: 20px;

  } 
  .main-1{ 
   grid-area: main-1;
   background-color: #3D86FC;
   margin: 4px;
  } 
  .main-2 {
    grid-area: main-2;
    background-color: #4facd1;
    margin: 4px;

   } 
   .main-3 {
    grid-area: main-3;
    background-color: #005f88;
    margin: 4px;

   } 
   .main-4 {
    grid-area: main-4;
    margin: 4px;

   } 
   .footer {
    grid-area: footer;
    background-color: #0049b8;
    margin: 4px;

   } 

  
   #logo{
     font-family: 'Montserrat', sans-serif ;
     text-align: center;
     color: aliceblue;
     font-size: 40px;
  }

  .body-menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif ;
    align-items: center;
    
    
    
  }
    #Pagina-Inicial a{
      color: beige;
      text-decoration: none;
      padding: 5px;
    }
    #Serviços a{
      color: beige;
      text-decoration: none;
      padding: 5px;


    }
    #Sobre a{
      color: beige;
      text-decoration: none;
      padding: 5px;


    }
    #Contato a{
      color: beige;
      text-decoration: none;
      padding: 5px;


    }
    .parte1 {
      font-family: 'Roboto', sans-serif;
      background-color: #3D86FC;
      display: flex;
      justify-content: center;
      color: aliceblue;
      font-size: 36px;
  }


    #pg1 {
      width: 1000px;
      height: 200px ;
      font-size: 36px;
      font-family: 'Roboto', sans-serif;




    }
     .parte2{
      font-family: 'Roboto', sans-serif;
      display: flex;
      justify-content: center;
      color: aliceblue;
    }

    #pg2 {

      width: 1000px;
      height: 200px ;
      font-size: 36px;
      font-family: 'Roboto', sans-serif;



    }
  

  #higienizacao {
    
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
  
  
  
  }

}

